{% extends "ui/base.html" %}

{% block body %}
    <h1>Hello world!</h1>
    <div class="vehicle-alerts">
        <h2>Recent Maintenance Performed</h2>
        {% for message in messages %}
            <div class="alert alert-{{ message.type }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div class="vehicle-list">
        <table class="table">
            <thead>
                <tr>
                    <th>Vehicle Name</th>
                    <th>License Plate</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for vehicle in vehicle_list %}
                <tr>
                    <td><a href="{% url 'view_vehicle' vehicle.pk %}">{{ vehicle.name }}</a></td>
                    <td>{{ vehicle.license_plate }}</td>
                    <td>
                        <a class="btn btn-primary" href="{% url 'edit_vehicle' vehicle.pk %}" role="button">Edit</a>
                        <form class="form d-inline" action="{% url 'delete_vehicle' vehicle.pk %}" method="post">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary" href="{% url 'create_vehicle' %}" role="button">+ Add</a>
    </div>
    
{% endblock body %}