{% extends "ui/base.html" %}
{% load crispy_forms_tags %}

{% block body %}
    <h1 class="centered">{% if vehicleevent.name %}Edit{% else %}New{% endif %} maintenance event for {{ vehicleevent.vehicle.name }}</h1>
    <div>
        <form class="form" method="post"> {% csrf_token %}
            <fieldset>
                <legend>Name and description</legend>
                <input class="form-control form-required" type="text" name="name" placeholder="Changed oil, rotated tires, etc." value="{{ vehicleevent.name }}" required />
                <input class="form-control" type="textarea" name="description" placeholder="Added 5qts of Valvoline 5W-30" value="{{ vehicleevent.description }}" required />
            </fieldset>
            <fieldset>
                <legend>Select a maintenance item (if applicable)</legend>
                {% for item in maintenance_options %}
                <div class="form-field-wrapper">
                {% if item == selected_maintenance_item %}
                    <input type="radio" id="{{ item.name }}" name="maintenance_item" value="{{ item.pk }}" checked />
                {% else %}
                    <input type="radio" id="{{ item.name }}" name="maintenance_item" value="{{ item.pk }}" />
                {% endif %}
                    <label for="{{ item.name }}" title="{{ item.description }}">{{ item.name }}</label>
                </div>
                {% endfor %}
            </fieldset>
            <fieldset>
                <legend>Enter the date of the maintenance event</legend>
            {% if vehicleevent.name %}
                <input class="form-control" type="datetime-local" name="timestamp" value="{{ vehicleevent.timestamp|date:'Y-m-d H:i' }}" required />
            {% else %}
                <input class="form-control" type="datetime-local" name="timestamp" value="{{ now|date:'Y-m-d H:i' }}" required />
            {% endif %}
            </fieldset>
            <fieldset>
                <legend>Enter the mileage</legend>
                <input class="form-control" type="number" name="mileage" value="{{ vehicleevent.mileage }}" required />
            </fieldset>
            <input type="hidden" name="vehicle_id" />
            <div class="page-nav-buttons">
                <input type="submit" class="btn btn-primary" value="{% if vehicleevent.name %}Update{% else %}Save{% endif %}">
                <a href="{% url 'view_vehicle' vehicle.pk %}" class="btn btn-outline-secondary" role="button">Back</a>
            </div>
        </form>
    </div>
    
{% endblock body %}